---
const { title, subtitle, body } = Astro.props;
---

<div class="flex bg-gradient-to-t from-coquimbo-400/50 to-75% p-4 overflow-y-scroll rounded-2xl shadow-2xl shadow-slate-800 text-white">
  <div class="space-y-2">
    <h2 class="font-bold text-lg">Titulo</h2>
    <h3 class="font-semibold text-base">subtitulo</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio quod?
      Aut porro laborum culpa est dolores possimus id exercitationem ipsum animi
      mollitia veritatis, facilis fugit voluptas nobis dolorum dolore? Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio quod?
      AutLorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio
      quod? Aut porro laborum culpa est dolores possimus id exercitationem ipsum
      animi mollitia veritatis, facilis fugit voluptas nobis dolorum dolore?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio quod?
      AutLorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio
      quod? Aut porro laborum culpa est dolores possimus id exercitationem ipsum
      animi mollitia veritatis, facilis fugit voluptas nobis dolorum dolore?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio quod?
      AutLorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio
      quod? Aut porro laborum culpa est dolores possimus id exercitationem ipsum
      animi mollitia veritatis, facilis fugit voluptas nobis dolorum dolore?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio quod?
      Aut
    </p>
  </div>
</div>
