<section class="mx-5 py-px mb-14 mt-6 bg-slate-600/50 rounded-lg">
  <div class="grid grid-rows-3 grid-flow-col gap-4 h-svh m-5 bg-red-400">
    <div class="row-span-2 bg-blue-600"></div>
    <img src="src/assets/wisky2.webp" alt="personal" title="Personal" />
    <div class="row-span-2 bg-blue-400"></div>
  </div>
</section>
