---
import Hamburger from "../Icons/Hamburger.icon.astro";
const { sectionId } = Astro.props;
---

<section
  id={sectionId}
  class="mx-5 py-px mb-14 mt-6 bg-slate-600/50 rounded-lg"
>
  <div class="grid grid-rows-4 grid-flow-col h-svh m-6 bg-red-400">
    <div class="row-span-2 bg-blue-600">
      <div class="grid grid-rows-2 grid-cols-subgrid gap-1 h-full">
        <img
          class="bg-red-400 rounded-full h-5/6 w-4/5 mx-auto my-auto object-cover"
          src="public/images/wisky2.webp"
        />
        <div class="bg-red-400 col-start-2 row-start-2 shadow-xl overline">
          contenido2
        </div>
        <div class="bg-red-400">contenido3NA</div>
        <div class="bg-red-400">contenido4NA</div>
      </div>
    </div>
    <div class="row-span-2 bg-blue-400"></div>
  </div>
</section>
