---
export interface Props {
    id: number;
    title: string;
    subtitle: string;
    description: string;
    menuDescription: string;
    img: string;
}

const { id, title, subtitle, description, menuDescription, img } = Astro.props;
---

<div class="grid grid-rows-2 bg-coquimbo-200/30 font-titillium sm:justify-items-center rounded-2xl h-full w-screen mx-10 pt-8">
    <div id="photo-card" class="w-3/4 max-w-60 rounded-full bg-[length:100%] justify-self-center self-center">
        <img src={img} alt="" class="object-cover rounded-full" />
    </div>
    <div class="grid grid-rows-1 grid-cols-3 h-full w-full pt-6">
        <div class="flex row-start-1 col-start-1 col-span-3 z-0 h-full mx-3 sm:max-h-max text-center">
            <div class="flex w-full bg-gradient-to-t justify-center from-coquimbo-400/50 to-75% overflow-y-scroll rounded-b-xl shadow-xl text-white mb-5">
                <div id="cardMenu" class="space-y-2">
                    <h2 class="font-bold text-2xl">{title}</h2>
                    <h3 class="font-semibold text-lg">{subtitle}</h3>
                    <p class="text-justify text-base px-5">
                        {menuDescription}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
