<div class="flex bg-red-300 p-4 overflow-y-scroll">
  <div class="space-y-2">
    <h2>Titulo de la tarjeta</h2>
    <h3>Subtitlo tarjeta</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio quod?
      Aut porro laborum culpa est dolores possimus id exercitationem ipsum animi
      mollitia veritatis, facilis fugit voluptas nobis dolorum dolore? Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio quod?
      AutLorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio
      quod? Aut porro laborum culpa est dolores possimus id exercitationem ipsum
      animi mollitia veritatis, facilis fugit voluptas nobis dolorum dolore?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio quod?
      AutLorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio
      quod? Aut porro laborum culpa est dolores possimus id exercitationem ipsum
      animi mollitia veritatis, facilis fugit voluptas nobis dolorum dolore?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio quod?
      AutLorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio
      quod? Aut porro laborum culpa est dolores possimus id exercitationem ipsum
      animi mollitia veritatis, facilis fugit voluptas nobis dolorum dolore?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio quod?
      Aut
    </p>
  </div>
</div>
