<div
  role="progressbar"
  class="scale-125 flex flex-col bg-andagareta-400 border-2 border-coquimbo-300/50 w-2 h-5/6 justify-center items-center rounded-3xl gap-y-5"
>
  <div
    id="navcard-primary-0"
    class="flex transition duration-300 bg-stone-700 border-2 border-stone-700 rounded-full h-5 w-5 hover:bg-coquimbo-50 hover:scale-150 hover:border-[1px] hover:border-yellow-500 justify-center items-center"
  >
    <div
      id="navcard-secondary-0"
      class="transition duration-300 bg-coquimbo-50 h-1 w-1 hover:bg-yellow-500 hover:h-1/3 hover:w-1/3 rounded-full justify-center items-center"
    >
    </div>
  </div>
  <div
    id="navcard-primary-1"
    class="flex bg-stone-700 border-2 border-stone-700 rounded-full h-5 w-5 justify-center items-center"
  >
    <div
      id="navcard-secondary-1"
      class="bg-coquimbo-50 h-1 w-1 rounded-full"
    >
    </div>
  </div>

  <div
    id="navcard-primary-2"
    class="flex bg-stone-700 border-2 border-stone-700 rounded-full h-5 w-5 justify-center items-center"
  >
    <div
      id="navcard-secondary-2"
      class="bg-coquimbo-50 h-1 w-1 rounded-full"
    >
    </div>
  </div>

  <div
    id="navcard-primary-3"
    class="flex bg-stone-700 border-2 border-stone-700 rounded-full h-5 w-5 justify-center items-center"
  >
    <div
      id="navcard-secondary-3"
      class="bg-coquimbo-50 h-1 w-1 rounded-full"
    >
    </div>
  </div>
</div>
