---
import HeartIcon from "../Icons/HeartIcon.astro";

const currentYear = new Date().getFullYear();
---

<footer class="h-24 mx-5 pb-5 font-titillium text-white items-end">
  <div
    class="flex w-full h-full from-coquimbo-200/60 bg-gradient-to-t to-65% rounded-xl items-center justify-center"
  >
    <div class="flex flex-col text-center lg:max-w-fit my-6 space-y-2">
      <p>© {currentYear} Daniel Criollo.</p>
      <p class="items-center gap-1 flex">
        Made with <span class="text-red-600"><HeartIcon /></span> and Astro.
      </p>
    </div>
  </div>
</footer>
