---
import Card from "../components/UI/Card.astro";
import ThemeIcon from "../components/Icons/ThemeIcon.astro";
import Base from "../layouts/Base.astro";
import DarkModeButton from "../components/UI/DarkModeButton.astro";
import Button from "../components/UI/Button.astro";
---
<Base>
	<main class="text-black font-titillium p-1 w-full h-full xl:flex xl:flex-nowrap xl:flex-col xl:m-2 dark:text-dark-text ">
		<divHead class="flex basis-1/4 flex-row my-4 justify-between"> 
			<div class="flex-col space-y-8">
				<h2 class="text-xs sm:text-base md:text-xl xl:text-2xl ml-1">Hey, I'm</h2>
				<h1 class="text-3xl sm:text-4xl md:text-5xl xl:text-8xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-40% via-primary via-60% to-green-600 dark:bg-gradient-to-br dark:from-green-600 dark:from-40% dark:via-primary dark:via-80% dark:to-indigo-600">Daniel Fernando</h1>
			</div>
			<div class="">
				<DarkModeButton />
			</div>
		</divHead>
    	<divBody class=" xl:flex xl:flex-auto xl:my-4 xl:justify-between">
			<div class="flex flex-col justify-around items-stretch ml-1 space-y-2 xl:w-2/5">
				<h2 class="text-lg sm:text-xl md:text-1xl xl:text-3xl font-bold">Developer with experience in design, development and maintenance of full-stack applications.</h2>
				<p class="text-xs sm:text-sm md:text-base xl:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quae nulla voluptas fuga repudiandae! Reiciendis quae nulla voluptas fuga repudiandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ipsa fuga illo natus possimus eveniet cum consequuntur, eos debitis quos eligendi dicta laboriosam ipsam, sit aspernatur, quaerat eum! Rerum, illum?</p>
				<div class="xl:flex xl:pl-6 xl:space-x-6">
					<Button title="Contact me" href="https://www.linkedin.com/in/danielcg99/" target="_blank"/>
					<Button title="Download CV" href="/cv/CV Daniel Fernando.pdf" download="CV Daniel Fernando.pdf"/>
				</div>
			</div>
			<div class="h-full flex-1 xl:isolate xl:relative xl:w-7/12 p-6 content-center">
				<div class="h-1/5 w-full grid grid-rows-2 grid-cols-2 justify-items-center justify-center xl:h-full">
					<Card polygon="p1" mt="" txt="Get this template" link="https://github.com/mrpotato42/Portfolio/tree/new-version"/>
					<Card polygon="p2" mt="" txt="Some books..." link="/404"/>
					<Card polygon="p3" mt=""  txt="Look, my gallery" link="https://www.instagram.com/44gatosenlaterraza/"/>
					<Card polygon="p4" mt="" txt="Get to know me" link="/404"/>
				</div>
			</div>
		</divBody>
	</main>
</Base>

