---
import Base from "../layouts/Base.astro";
import DarkModeButton from "../components/UI/DarkModeButton.astro";
import Button from "../components/UI/Button.astro";
import PerspectiveShape from "../components/UI/PerspectiveShape.astro";
import ModalTrigger from "../components/UI/ModalTrigger.tsx";
---

<Base>
  <main
    class="flex-1 text-black font-titillium p-1 lg:flex lg:flex-nowrap lg:flex-col lg:m-2 dark:text-dark-text"
  >
    <divHead class="flex basis-1/4 flex-row my-4 justify-between">
      <div class="flex-col w-full">
        <h2 class="text-xs sm:text-base md:text-xl lg:text-2xl ml-1">
          Hey, I'm
        </h2>
        <h1
          class="text-4xl sm:text-6xl md:text-7xl lg:text-8xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-40% via-primary via-60% to-green-600 dark:bg-gradient-to-br dark:from-green-600 dark:from-40% dark:via-primary dark:via-80% dark:to-indigo-600"
        >
          Daniel Fernando
        </h1>
      </div>
      <div class="h-1/4 sm:flex sm:flex-row-reverse gap-4  ">
        <div class="flex justify-end">
          <DarkModeButton />
        </div>
        <Button
          title="Download CV"
          href="/cv/CV Daniel Fernando.pdf"
          download="CV Daniel Fernando.pdf"
          class="order-first mt-7 mb-3 sm:mt-0 sm:mb-0"
        />
      </div>
    </divHead>
    <divBody class="w-full grid grid-cols-6 lg:grid-cols-7 gap-3">
      <div
        class="min-h-16 pb-1 col-span-3 lg:row-span-1 lg:col-span-2 text-center dark:bg-dark-foreground/85 rounded-2xl sm:h-3/4 h-2/4 w-full items-center justify-center flex flex-col self-center"
      >
        <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold">
          +1
        </h1>
        <h1 class="text-xs sm:text-sm md:text-base lg:text-md px-2">
          years of experience
        </h1>
      </div>
      <div
        class="min-h-16 p-2 col-span-3 lg:row-span-1 lg:col-span-2 text-center dark:bg-dark-foreground/85 rounded-2xl sm:h-3/4 h-2/4 w-full items-center justify-center flex flex-col self-center"
      >
        <h1 class="text-xs sm:text-sm md:text-base lg:text-md">From</h1>
        <h1 class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold">
          Colombia
        </h1>
      </div>
      <div
        class="col-span-6 lg:row-span-1 lg:col-span-4 lg:mt-0 dark:bg-dark-foreground/85 rounded-2xl h-auto flex flex-col gap-4 justify-center dark:p-5 pl-1"
      >
        <p class="max-h-44 overflow-auto text-md sm:text-base lg:text-lg">
          I have skills in technologies such as JavaScript, HTML and CSS. I have
          also worked with Tailwind and Bootstrap, React and TypeScript. I have
          1 year of experience in full-stack development, primarily focused on
          frontend. Some of my interests in technology include areas such as
          data analysis and cybersecurity. My professional career has equipped
          me to develop effective, secure and scalable products using Agile
          framework processes.
        </p>
      </div>
      <div
        class="flex flex-col justify-center p-5 pl-7 sm:p-10 sm:pl-12 h-full col-start-1 row-start-3 md:col-start-4 lg:col-start-5 md:row-start-1 col-span-full md:row-span-2"
      >
        <div
          class="grid grid-cols-2 grid-rows-2 gap-4 col-span-2 w-full max-h-[350px]"
        >
          <PerspectiveShape height={190} rotationX={30} rotationY={-30} href="https://www.linkedin.com/in/danielcg99/">
            <img
              src="images/profile.jpg"
              alt="profile"
              class="w-full h-full object-cover"
            />
          </PerspectiveShape>

          <PerspectiveShape height={190} perspective={250} rotationY={35} href="https://www.instagram.com/44gatosenlaterraza/">
            <img
              src="images/window.jpg"
              alt="no terminado"
              class="w-full h-full object-cover"
            />
          </PerspectiveShape>

          <PerspectiveShape height={190} perspective={250} rotationY={-35} href="https://github.com/mrpotato42/Portfolio">
            <img
              src="images/experience.jpg"
              alt="experience"
              class="w-full h-full object-cover"
              
            />
          </PerspectiveShape>

          <ModalTrigger client:load>
            <PerspectiveShape height={190} rotationX={-30} rotationY={30} href="modal">
                <img
                src="images/projects.jpg"
                alt="projects"
                class="w-full h-full object-cover"
                />
            </PerspectiveShape>
          </ModalTrigger>
        </div>
      </div>
    </divBody>
  </main>
</Base>
