---
import Target from "../components/Cards/Target.astro";
import ThemeIcon from "../components/Icons/ThemeIcon.astro";
import Base from "../layouts/Base.astro";
---
<Base>
	<main class="font-titillium flex flex-nowrap flex-col m-2 p-1 text-black w-full h-full">
		<divHead class="flex basis-1/4 flex-row my-4 justify-between"> 
			<div class="flex-col space-y-8">
				<h2 class="text-xs sm:text-base md:text-xl xl:text-2xl ml-1">Hey, I'm</h2>
				<h1 class="text-3xl sm:text-4xl md:text-5xl xl:text-8xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">Daniel Fernando</h1>
			</div>
			<div class="">
				<label class="swap swap-rotate">
					<!-- this hidden checkbox controls the state -->
					<input type="checkbox" class="theme-controller" value="synthwave" />
					<ThemeIcon/>
				  </label>
			</div>
		</divHead>
    	<divBody class="flex flex-auto my-4 justify-between">
			<div class="flex flex-col w-2/5 justify-around items-stretch">
				<h2 class="font-bold text-3xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
				<p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quae nulla voluptas fuga repudiandae! Reiciendis quae nulla voluptas fuga repudiandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ipsa fuga illo natus possimus eveniet cum consequuntur, eos debitis quos eligendi dicta laboriosam ipsam, sit aspernatur, quaerat eum! Rerum, illum?</p>
				<div class="flex pl-6 space-x-6">
					<button class="btn btn-outline hover:scale-110 hover:bg-indigo-500">Contact me</button>
					<button class="btn btn-outline hover:scale-110 hover:bg-indigo-500 ">Get this template</button>	
				</div>
			</div>
			<div class="isolate relative w-7/12 p-6 content-center">
				<div class="grid grid-rows-2 grid-cols-2 justify-items-center justify-center h-full">
					<Target polygon="p1" mt="-mt-8 ml-12 left-0 top-0" txt="Download my CV"/>
					<Target polygon="p2" mt="-mt-12 top-0 right-0" txt="Some books..."/>
					<Target polygon="p3" mt="bottom-0 left-0" txt="I like take photos"/>
					<Target polygon="p4" mt="mb-10 mr-12 bottom-0 right-0" txt="asldkfjaself"/>
				</div>
			</div>
		</divBody>
	</main>

</Base>

