---
import HamburgerIcon from "./Icons/Hamburger.icon.astro";
---

<nav class="sticky top-0 z-20">
  <div
    class="flex mx-5 bg-gradient-to-r from-indigo-500 h-10 mt-6 items-center content-center rounded"
  >
    <div class="flex w-screen justify-between mx-6">
      <div class="mx-10">
        <a href="#" class="font-medium">Logo</a>
      </div>
      <div
        class="relative inline-flex items-center justify-center sm:hidden hover:bg-blue-700 mx-8"
      >
        <button id="menu-button"><HamburgerIcon /></button>
      </div>
      <!-- menu on desktop -->
      <div class="hidden sm:flex absolute inset-0 justify-center items-center">
        {
          [
            ["Button 1", "#"],
            ["Button 2", "#"],
            ["Button 3", "#"],
          ].map(([title, url]) => (
            <a
              href={url}
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 text-base font-medium text-center"
            >
              {title}
            </a>
          ))
        }
      </div>
    </div>
    <!-- Menu mobile visibility:none -->
  </div>
  <menu class="flex-1 mx-8 my-4">
    <div
      id="mobile-menu"
      class="px-2 pb-3 pt-2 space-y-4 rounded-md sm:hidden hidden"
    >
      {
        [
          ["Button 2", "#"],
          ["Button 2", "#"],
          ["Button 3", "#"],
        ].map(([title, url]) => (
          <a
            href={url}
            class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md text-base font-medium text-center"
          >
            {title}
          </a>
        ))
      }
    </div>
  </menu>
</nav>

<script>
  import "../scripts/navigation.js";
</script>
