---
import HamburgerIcon from "./Icons/Hamburger.icon.astro";
---

<nav class="relative z-20">
  <div
    class="flex bg-gradient-to-b to-60% from-coquimbo-200/60  h-16 justify-between items-center content-center rounded"
  >
    <div class="flex absolute inset-0 justify-around mx-10 items-center">
      {
        [
          ["Profile", "#"],
          ["Projects", "#"],
          ["Experience", "#"],
        ].map(([title, url]) => (
          <a
            href={url}
            class="text-slate-200 font-titillium rounded-md px-3 font-medium text-center transition hover:scale-110 hover:bg-coquimbo-400/60 hover:text-white hover:font-bold hover:shadow-coquimbo-400/30 hover:shadow-xl"
          >
            {title}
          </a>
        ))
      }
    </div>
  </div>
</nav>

<script>
  import "../scripts/navigation.js";
</script>
