---
import HamburgerIcon from "./Icons/Hamburger.icon.astro";
---

<nav class="fixed bg-blue-900 h-20 top-0 w-screen">
  <div
    class="relative flex max-h-screen px-6 items-center justify-between top-4 space-y-2"
  >
    <div
      class="relative inline-flex items-center justify-center top-1 sm:hidden hover:bg-blue-700 mx-8"
    >
      <button id="menu-button"><HamburgerIcon /></button>
    </div>
    <div class="mx-10">
      <a href="#" class="font-medium">Logo</a>
    </div>
    <div class="hidden sm:flex absolute inset-0 justify-center space-x-5">
      {
        [
          ["Button 1", "#"],
          ["Button 2", "#"],
          ["Button 3", "#"],
        ].map(([title, url]) => (
          <a
            href={url}
            class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 text-base font-medium text-center"
          >
            {title}
          </a>
        ))
      }
    </div>
  </div>

  <!-- Menu mobile visibility:none -->
  <menu class="block relative m-5">
    <div
      id="mobile-menu"
      class="bg-blue-700 space-y-3 px-2 pb-3 pt-2 rounded-md sm:hidden hidden"
    >
      {
        [
          ["Button 1", "#"],
          ["Button 2", "#"],
          ["Button 3", "#"],
        ].map(([title, url]) => (
          <a
            href={url}
            class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium text-center"
          >
            {title}
          </a>
        ))
      }
    </div>
  </menu>
</nav>

<script>
  import "../scripts/navigation.js";
</script>
