---
import Navbar from "../components/Navbar.astro";
import MainLayout from "./MainLayout.astro";

const { pageTitle } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body class="bg-slate-200">
    <!-- <Navigation /> -->
    <Navbar />
    <main>
      <MainLayout />
      <slot />
      <!--Esta etiqueta permite insertar contenido hijo de las etiquetas de cualquier archivo -->
      <!-- <Footer /> -->
    </main>
  </body>
</html>
