---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
  title: string;
  href?: string;
  download?: string;
  target?: string;
  class?: string;
}

const {
  title,
  href = "#",
  download: rawDownload,
  target: rawTarget,
  ...rest
} = Astro.props;

const download = rawDownload || null;
const target = rawTarget || null;
---

<a href={href} download={download} target={target} {...rest}>
  {title}
</a>
