---
const { title, href = '#', download = '', target='' } = Astro.props
---

<a
  href={href}
  download={download}
  target={target}
  class='flex-row w-24 sm:w-fit text-xs sm:text-sm border-1 border-black btn btn-sm dark:btn-primary dark:text-black dark:border-white bg-transparent dark:bg-indigo-300 hover:scale-110 hover:bg-indigo-600 hover:text-white'>
  {title}
</a>