<button
  id="lang-toggle"
  class="flex items-center justify-center w-8 h-8 font-mono font-bold text-sm text-black dark:text-dark-text"
  aria-label="Switch Language"
>
  EN
</button>

<script src="../../scripts/language.ts"></script>
